<% provide(:title, 'Edit Trip') %>
<% provide(:button_text, 'Next') %>

<div class="row">
  <!--<div class="col-md-6 col-md-offset-3">-->
  <div class="form-panel">
    <div class="form">
      <h1>Edit Trip</h1>
      <%= render 'edit' %>
    </div>
    <div class='form-image'>

    </div>
  </div>
</div>