@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;
$green: #008000;

.new-creator {
  display: grid;
  grid-template: 1fr / 2fr 1fr;
  margin-bottom: 50px !important;
}

.new-creator-form {
  padding-left: 50px;
}

.map {
  background-color: green;
  min-height: 500px;
}

#map {
  position: relative;
  width: 100%;
}

.checkbox-inline {

  #show-on-map-all {
    position: relative !important;
  }
}

.points-table {
  width: 90%;
  text-align: center;
  position: center;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 2px solid #f2f2f2;

  th {
    text-align: center;
    background-color: $green;
    color: white;
  }

  tr {
    &:nth-child(even) {
      background-color: #f2f2f2;
    }
  }
}

.row-odd {
  background-color: #c0f4b0;
}

.row-even {
  background-color: #d1ffc6;
}

.buttons {
  margin: 15px;
  margin-bottom: 60px;
}

.point-button {
  width: 50%;
  display: inline;
  float: left;
  border-radius: 8px 0 0 8px !important;
}

.path-button {
  width: 50%;
  display: inline;
  float: left;
  border-radius: 0 8px 8px 0 !important;
}

#active {
  border: 1px solid $green;
  background-color: $green;
  color: white;

  &:hover {
    background-color: darkgreen;
  }
}

#inactive {
  border: 1px solid $green;
  background-color: white;
  color: $green;

  &:hover {
    background-color: darkgreen;
    color: white;
  }
}