
$green: #008000;

li.active {
  // border: 1px solid $green;
  border-radius: 8px 0 0 8px !important;
  background-color: white !important;
}

li.active > a {
  color: $green !important;

  &:hover {
    color: white !important;
  }
}

li.list-button {
  background-color: $green;
  width: 50%;
  display: inline;
  float: left;
  border-radius: 8px 0 0 8px !important;
}

.show-on-map-button {
  background-color: $green;
  width: 50%;
  display: inline;
  float: left;
  border-radius: 0 8px 8px 0 !important;

  &:hover {
    background-color: darkgreen;
  }
}

#list-tab-button {
  border-radius: 8px 0 0 8px !important;
  border: 1px solid $green;
  color: white;

  &:hover {
    background-color: darkgreen;
    color: white;
    border-radius: 8px 0 0 8px !important;
  }
}

#map-tab-button {
  border-radius: 0 8px 8px 0 !important;
  border: 1px solid $green;
  color: white;

  &:hover {
    background-color: darkgreen;
    color: white;
    border-radius: 0 8px 8px 0 !important;
  }
}

li #orange-button {
  margin-right: 25px;
}

li h2 {
  text-align: left;
  margin-left: 25px;
  margin-bottom: 0;
  margin-top: 5px;
}

li small {
  margin-left: 25px;
}

.guides-h1 {
  margin-left: 15px;
  padding-top: 20px;
  text-align: left;
}

.guide-title {
  float: left;
  width: 20%;
}

.guide-details {
  float: left;
  width: 60%;
}

.guide-buy {
  float: left;
  width: 20%;
}
