@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$green: #008000;
$hoverorange: #e02500;

/* header */

.navbar {
  background: $green;
  border-bottom: 2px solid darkgreen;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  &:hover {
    background-color: darkgreen;
    //color: darkgreen;
  }
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: darkgreen;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  font-family: 'Molle', cursive;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;

  &:hover {
    color: #fff;
    text-decoration: none;
    color: orangered;
  }
}

ul.dropdown-menu {
  li {
    a:hover {
      color: orangered;
    }
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* home */

.jumbotron {
  background-image: url("sydney_background.jpeg");
  max-height: 450px;
  margin-top: 10px;

  h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }

  .vignette {
    margin-top: 6%;
    margin-bottom: 6%;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    min-width: 200px;
    position: relative;
    background-color: rgba(128,128,128,0.5);
    border-radius: 16px;


    h2 {
      padding-top: 30px;
      position: center;
      color: white;
      text-shadow: 2px 2px 4px #000000;
    }

    .btn-lg {
      background-color: darkgreen;
      margin-bottom: 30px;

      &:hover {
        background-color: orangered;
        border: 1px solid orangered;
        box-shadow: 0 0 1em black;
      }
    }
  }
}
