@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* header */

.navbar {
  background: darkgreen;
  border-bottom: 2px solid orangered;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  &:hover {
    background-color: orangered;
    //color: darkgreen;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  font-family: 'Molle', cursive;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* home */

.jumbotron {
  //background: url("/sydney_background.jpeg");
}
